body {
  background-color: #e587be;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.content {
  top: 30vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
}
.content h1,
.hint {
  text-align: center;
  color: #ffffff;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.hint {
  position: fixed;
  bottom: 0;
  right: 10px;
  font-size: 18px;
}

.heart {
  position: fixed;
  top: -10vh;
  width: 50px;
  height: 40px;
  opacity: 0.9;
  z-index: 1;
  animation-name: falling;
  animation-timing-function: linear;
}

.heart::before,
.heart::after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background: var(--heart-color, red);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.rose {
  position: fixed;
  pointer-events: none;
  z-index: 3;
  font-size: 21px;
  margin: -10px;
  animation: click-rose 1s ease-out forwards;
}

@keyframes falling {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
  }
}

@keyframes click-rose {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2) translateY(-10px) translateX(5px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(-30px) translateX(10px);
    opacity: 0;
  }
}
